body{
  background-color: #78b1ed;
  font-family: arial;
}
a{
  text-decoration: none;
}
nav{
  background-color: white;
  margin: 20px;
  height: 40px;
}
nav li{
  float: left;
}
nav li a{
  border-right: 1px solid #78b1ed;
  color: #78b1ed;
  padding: 12px 54.90px;
  display: block;
}
a:hover{
  background-color: #639ff2;
  transition: 1.3s;
  color: white;
}
nav .burger a{
  background-color: #46a1fe;
  color: white;
  padding: 12px 27px;
}
.burger{
  float: right;
  display: none;
}
.burger span{
  background-color: white;
  width: 12px;
  height: 3px;
  display: block;
  margin: 2px;
}
nav .burger::before{
  content: "0";
  border: 2px solid white;
  border-radius: 100%;
  color: white;
  background-color: #46a1fe;
  padding: 6px 10px;
  text-align: center;
  position: absolute;
  top: 23px;
  left: 1492px;
}

/*mobile styles*/

@media screen and (max-width:2000px) {
  nav .burger{
    display: block;
  } }
  @media screen and (max-width:1600px) {
    li.burger::before{
      content: "1";
        text-align: center;
        display: block;
    }
    }
  @media screen and (max-width:1600px){
nav li:nth-child(9){
  display: none;
}

}
@media screen and (max-width:1456px){
nav li:nth-child(8){
display: none;
}
}
@media screen and (max-width:1456px) {
  li.burger::before{
    content: "2";
    text-align: center;
    display: block;
  }
  }

@media screen and (max-width:1246px){
nav li:nth-child(7){
display: none;
}

}
@media screen and (max-width:1246px) {
  li.burger::before{
    content: "3";
      text-align: center;
  }
  }
@media screen and (max-width:1102px){
nav li:nth-child(6){
display: none;
}

}
@media screen and (max-width:1102px) {
  li.burger::before{
    display: block;
    content: "4";
      text-align: center;
  }
  }
@media screen and (max-width:930px){
nav li:nth-child(5){
display: none;
}

}
@media screen and (max-width:930px) {
  li.burger::before{
    display: block;
    content: "5";
      text-align: center;
  }
  }
@media screen and (max-width:779px){
nav li:nth-child(4){
display: none;
}

}
@media screen and (max-width:779px) {
  li.burger::before{
    display: block;
    content: "6";
      text-align: center;
  }
  }
@media screen and (max-width:600px){
nav li:nth-child(3){
display: none;
}

}
@media screen and (max-width:600px) {
  li.burger::before{
    display: block;
    content: "7";
      text-align: center;
  }
  }
@media screen and (max-width:410px){
nav li:nth-child(2){
display: none;
}

}
@media screen and (max-width:410px) {
  li.burger::before{
    display: block;
    content: "8";
      text-align: center;
  }
  }
