body{
  background-color: #78b1ed;
  font-family: arial;
}
a{
  text-decoration: none;
}
nav{
  background-color: white;
  margin: 20px;
  height: 40px;
}
nav li{
  float: left;
}
nav li a{
  border-right: 1px solid #78b1ed;
  color: #78b1ed;
  padding: 12px 54.90px;
  display: block;
}
a:hover{
  background-color: #639ff2;
  transition: 1.3s;
  color: white;
}
nav .burger a{
  background-color: #46a1fe;
  color: white;
  padding: 12px 27px;
}
.burger{
  float: right;
  display: none;
}
.burger span{
  background-color: white;
  width: 12px;
  height: 3px;
  display: block;
  margin: 2px;
}
nav .burger a::before{
  content: "6";
  border: 2px solid white;
  border-radius: 100%;
  color: white;
  background-color: #46a1fe;
  position: absolute;
  padding: 6px 10px;
  text-align: center;
  top: 23px;
  left: 1491px;
}

/*mobile styles*/

@media screen and (max-width:800px) {
  nav .burger{
    display: block;
  }
nav li:nth-child(9),
nav li:nth-child(8),
nav li:nth-child(7){
  display: none;
}

}
